<!DOCTYPE html>
<html>
<head>
	<title>JS-TEST</title>
</head>
<body>
    <h1><%= parsedData["title"]%></h1>
    <% var posts = parsedData["posts"]%>
    
    <% for(var i =0;i<posts.length;i++){%>
            <h3><%= posts[i]["title"] %></h3>
            <% if (posts[i]["gif"]!=undefined){ %>
                <img src =<%- "\"" + posts[i]['gif'] + "\""  %> > 
            <% } %>
            <% if (posts[i]["text"]!=undefined){ %>
                <img src =<%- "\"" + posts[i]['text'] + "\""  %> > 
            <% } %>
          
    
        <% } %>


</body>
</html>